<%= bootstrap_form_with(model: veichle_category) do |form| %>
<% if veichle_category.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(veichle_category.errors.count, "error") %> prohibited this veichle_category from being saved:</h2>
  <ul>
    <% veichle_category.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>
  <div class="form-group mb-3">
          <%= form.label :label, class: "form-label" %>
      <%= form.text_field :label, class:"form-control" %>
      </div>
<div class="form-group mb-3">
  <%= form.submit class: 'btn btn-primary' %>
</div>
<% end %>
