<div id="<%= dom_id note %>">
  <p>
    <strong>State:</strong>
    <%= note.state_id %>
  </p>

  <p>
    <strong>Reimboursment:</strong>
    <%= note.reimboursment_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= note.user_id %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= note.text %>
  </p>

</div>
