<div id="<%= dom_id reimboursement %>">
  <p>
    <strong><%= t('activerecord.attributes.reimboursement.status') %>:</strong>
    <%= reimboursement.state_id %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.reimboursement.user') %>:</strong>
    <%= reimboursement.user_id %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.reimboursement.bank_account') %>:</strong>
    <%= reimboursement.bank_account_id %>
  </p>

</div>
