<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <h1>Reimboursements</h1>
  <table class="table">
    <thead>
      <tr>
                  <th>State</th>
                  <th>User</th>
                  <th>Bank account</th>
                  <th>Paypal account</th>
                <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @reimboursements.each do |reimboursement| %>
      <tr>
                  <td><%= reimboursement.state_id %></td>
                  <td><%= reimboursement.user_id %></td>
                  <td><%= reimboursement.bank_account_id %></td>
                  <td><%= reimboursement.paypal_account_id %></td>
                <td><%= link_to 'Show', reimboursement %></td>
        <td><%= link_to 'Edit', edit_reimboursement_path(reimboursement) %></td>
        <td><%= link_to 'Destroy', reimboursement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Reimboursement', new_reimboursement_path, class: "btn btn-primary" %>
</div>
