<div id="<%= dom_id bank_account %>">
  <p>
    <strong>User:</strong>
    <%= bank_account.user_id %>
  </p>

  <p>
    <strong>Iban:</strong>
    <%= bank_account.iban %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= bank_account.owner %>
  </p>

  <% if bank_account.bic_swift.present? %>
    <p>
      <strong>BIC/SWIFT:</strong>
      <%= bank_account.bic_swift %>
    </p>
  <% end %>

  <p>
    <strong>Address:</strong>
    <%= bank_account.address %>
  </p>

  <p>
    <strong>Cap:</strong>
    <%= bank_account.cap %>
  </p>

  <p>
    <strong>Town:</strong>
    <%= bank_account.town %>
  </p>

  <p>
    <strong>Fiscal code:</strong>
    <%= bank_account.fiscal_code %>
  </p>

  <p>
    <strong>Default:</strong>
    <%= bank_account.default %>
  </p>

</div>
