<%= bootstrap_form_with(model: role) do |form| %>
<% if role.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>
  <ul>
    <% role.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>
  <div class="form-group mb-3">
          <%= form.label :label, class: "form-label" %>
      <%= form.text_field :label, class:"form-control" %>
      </div>
<div class="form-group mb-3">
  <%= form.submit class: 'btn btn-primary' %>
</div>
<% end %>
