<div id="<%= dom_id expense %>">
  <p>
    <strong>Reimboursment:</strong>
    <%= expense.reimboursment_id %>
  </p>

  <p>
    <strong>Purpose:</strong>
    <%= expense.purpose %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= expense.date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= expense.amount %>
  </p>

  <p>
    <strong>Car:</strong>
    <%= expense.car %>
  </p>

  <p>
    <strong>Calculation date:</strong>
    <%= expense.calculation_date %>
  </p>

  <p>
    <strong>Departure:</strong>
    <%= expense.departure %>
  </p>

  <p>
    <strong>Arrival:</strong>
    <%= expense.arrival %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= expense.distance %>
  </p>

  <p>
    <strong>Return trip:</strong>
    <%= expense.return_trip %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= expense.brand %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= expense.model %>
  </p>

  <p>
    <strong>Quota capitale:</strong>
    <%= expense.quota_capitale %>
  </p>

  <p>
    <strong>Carburante:</strong>
    <%= expense.carburante %>
  </p>

  <p>
    <strong>Pneumatici:</strong>
    <%= expense.pneumatici %>
  </p>

  <p>
    <strong>Manutenzione:</strong>
    <%= expense.manutenzione %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= expense.project_id %>
  </p>

</div>
