<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <h1>Expenses</h1>
  <table class="table">
    <thead>
      <tr>
                  <th>Reimboursment</th>
                  <th>Purpose</th>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Car</th>
                  <th>Calculation date</th>
                  <th>Departure</th>
                  <th>Arrival</th>
                  <th>Distance</th>
                  <th>Return trip</th>
                  <th>veichle_category</th>
                  <th>Brand</th>
                  <th>Model</th>
                  <th>Fuel</th>
                  <th>Quota capitale</th>
                  <th>Carburante</th>
                  <th>Pneumatici</th>
                  <th>Manutenzione</th>
                  <th>Project</th>
                <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @expenses.each do |expense| %>
      <tr>
                  <td><%= expense.reimboursment_id %></td>
                  <td><%= expense.purpose %></td>
                  <td><%= expense.date %></td>
                  <td><%= expense.amount %></td>
                  <td><%= expense.car %></td>
                  <td><%= expense.calculation_date %></td>
                  <td><%= expense.departure %></td>
                  <td><%= expense.arrival %></td>
                  <td><%= expense.distance %></td>
                  <td><%= expense.return_trip %></td>
                  <td><%= expense.veichle_category_id %></td>
                  <td><%= expense.brand %></td>
                  <td><%= expense.model %></td>
                  <td><%= expense.fuel_id %></td>
                  <td><%= expense.quota_capitale %></td>
                  <td><%= expense.carburante %></td>
                  <td><%= expense.pneumatici %></td>
                  <td><%= expense.manutenzione %></td>
                  <td><%= expense.project_id %></td>
                <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Expense', new_expense_path, class: "btn btn-primary" %>
</div>
