<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Rimborsi</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Rimborsi', reimboursements_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Conti Bancari', bank_accounts_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Account PayPal', paypal_accounts_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Veicoli', vehicles_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Categorie di fondi', projects_path, class: 'nav-link' %>
          </li>
          <% if current_user.admin? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Amministrazione
              </a>
              <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                <li><%= link_to 'Pagamenti', admin_payments_path, class: 'dropdown-item' %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to 'Gestione Utenti', admin_users_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'Gestione Ruoli', roles_path, class: 'dropdown-item' %></li>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user me-1"></i><%= current_user.name %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><%= link_to 'Profilo', edit_user_registration_path, class: 'dropdown-item' %></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= button_to 'Logout', destroy_user_session_path, 
                    method: :delete, 
                    class: 'dropdown-item btn btn-link border-0 text-start w-100', 
                    style: 'background: none; padding: 0.25rem 1rem;' %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Registrati', new_user_registration_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
